# Entrenamos una inteligencia artificial (o varias)!!!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("used_car_prices.csv")
df.head()

,Unnamed: 0,index,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,0,0,12000,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0,38000
1,1,1,12001,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0,23495
2,2,2,12004,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0,59999
3,3,3,12013,skoda,Scala,2019,Manual,3257,Petrol,145.0,49.6,1.0,16713
4,4,4,12017,audi,RS6,2015,Semi-Auto,20982,Petrol,325.0,29.4,4.0,46000

## EDA

In [3]:
df.describe()

,Unnamed: 0,index,carID,year,mileage,tax,mpg,engineSize,price
count,7632.00000,7632.000000,7632.00000,7632.000000,7632.000000,7632.000000,7632.000000,7632.000000,7632.000000
mean,3815.50000,2078.980084,15815.50000,2016.731787,24837.685928,152.657888,50.166483,2.128132,23579.922825
std,2203.31296,1355.983560,2203.31296,2.889072,23994.794380,81.821950,35.579174,0.782125,16474.496951
min,0.00000,0.000000,12000.00000,1970.000000,1.000000,0.000000,2.800000,0.000000,450.000000
25%,1907.75000,953.750000,13907.75000,2016.000000,5800.000000,145.000000,38.200000,1.600000,12215.250000
50%,3815.50000,1907.500000,15815.50000,2017.000000,18891.000000,145.000000,47.100000,2.000000,19200.000000
75%,5723.25000,3051.250000,17723.25000,2019.000000,36500.250000,150.000000,54.300000,2.800000,30490.000000
max,7631.00000,4959.000000,19631.00000,2020.000000,259000.000000,580.000000,470.800000,6.600000,159999.000000

In [4]:
df.isnull().sum()

Unnamed: 0      0
index           0
carID           0
brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
price           0
dtype: int64

## Preparación

In [5]:
df.drop(["Unnamed: 0", "index", "carID"], axis=1, inplace=True)

In [6]:
df.head()

,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0,38000
1,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0,23495
2,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0,59999
3,skoda,Scala,2019,Manual,3257,Petrol,145.0,49.6,1.0,16713
4,audi,RS6,2015,Semi-Auto,20982,Petrol,325.0,29.4,4.0,46000

In [7]:
X = df.drop("price", axis=1)
y = df["price"]

In [8]:
X.head()

,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0
1,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0
2,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0
3,skoda,Scala,2019,Manual,3257,Petrol,145.0,49.6,1.0
4,audi,RS6,2015,Semi-Auto,20982,Petrol,325.0,29.4,4.0

In [9]:
y.head()

0    38000
1    23495
2    59999
3    16713
4    46000
Name: price, dtype: int64

In [10]:
categoricas = ["brand", "model", "transmission", "fuelType"]
numericas = ["year", "mileage", "tax", "mpg", "engineSize"]

In [11]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico], remainder="passthrough")

In [12]:
X = transformer.fit_transform(X).toarray()

In [13]:
pd.DataFrame(X, columns = transformer.get_feature_names_out())

,transformer_numerico__year,transformer_numerico__mileage,transformer_numerico__tax,transformer_numerico__mpg,transformer_numerico__engineSize,transformer_categorico__brand_audi,transformer_categorico__brand_bmw,transformer_categorico__brand_ford,transformer_categorico__brand_hyundi,transformer_categorico__brand_merc,...,transformer_categorico__model_ i8,transformer_categorico__transmission_Automatic,transformer_categorico__transmission_Manual,transformer_categorico__transmission_Other,transformer_categorico__transmission_Semi-Auto,transformer_categorico__fuelType_Diesel,transformer_categorico__fuelType_Electric,transformer_categorico__fuelType_Hybrid,transformer_categorico__fuelType_Other,transformer_categorico__fuelType_Petrol
0,0.94,0.046506,0.258621,0.073504,0.454545,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.94,0.145491,0.448276,0.071368,0.454545,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.98,0.038606,0.250000,0.066667,0.454545,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.98,0.012571,0.250000,0.100000,0.151515,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.90,0.081008,0.560345,0.056838,0.606061,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7627,0.90,0.093873,0.215517,0.114957,0.318182,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7628,0.94,0.069494,0.250000,0.103846,0.454545,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7629,0.90,0.327920,0.051724,0.122436,0.303030,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7630,0.94,0.116406,0.250000,0.128205,0.454545,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
7631,0.88,0.155325,0.258621,0.114744,0.454545,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [14]:
transformer.output_indices_

{'transformer_numerico': slice(0, 5, None),
 'transformer_categorico': slice(5, 113, None),
 'remainder': slice(0, 0, None)}

## Entrenamos

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [16]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [17]:
def train_evaluate(nombre_modelo, modelo):
    mod = modelo()
    mod.fit(X_train, y_train)
    
    y_predict = mod.predict(X_test)
    
    mae = mean_absolute_error(y_test, y_predict)
    mse = mean_squared_error(y_test, y_predict)
    rmse = mean_squared_error(y_test, y_predict, squared=False)
    r2 = r2_score(y_test,y_predict)
    
    y_pred_train = mod.predict(X_train)
    mae_train = mean_absolute_error(y_train, y_pred_train)
    
    print(nombre_modelo)
    print()
    print(f"MAE: {mae}")
    print(f"MSE: {mse}")
    print(f"RMSE: {rmse}")
    print(f"R2: {r2}")
    print()
    print(f"MAE Train: {mae_train}")

In [18]:
train_evaluate("LinearRegression", LinearRegression)

LinearRegression

MAE: 3663.893081761006
MSE: 35463378.42138365
RMSE: 5955.113636311539
R2: 0.8726872943663999

MAE Train: 3552.216107617051

In [19]:
train_evaluate("SVM", SVR)

SVM

MAE: 11587.424730744662
MSE: 299261611.0612288
RMSE: 17299.17949098248
R2: -0.07434223958487207

MAE Train: 11243.220931874243

In [20]:
train_evaluate("Decission Tree", DecisionTreeRegressor)

Decission Tree

MAE: 2262.024204307223
MSE: 15704568.343748376
RMSE: 3962.898982279056
R2: 0.9436209640578179

MAE Train: 22.39596171357178