# Análisis y visualización de datos de Tokyo_Airbnb

<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_B%C3%A9lo.svg" style= "height:150px;float:left;">

In [2]:
# Llamando librerias
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#import geopandas as gpd
import plotly.express as px
from IPython.display import HTML
import plotly.io as pio

In [13]:
#leer datos
datos = pd.read_csv('tokyo_airbnb.csv')

In [ ]:
# Exploración básica del dataset

In [15]:
datos

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month
0,35303,"La Casa Gaienmae C Harajuku, Omotesando is nearby",151977,Miyuki,NaN,Shibuya Ku,35.67152,139.71203,Private room,4196,28,18,2018-07-28,0.20
1,197677,Oshiage Holiday Apartment,964081,Yoshimi & Marek,NaN,Sumida Ku,35.71721,139.82596,Entire home/apt,10975,3,156,2019-05-21,1.65
2,289597,Private apt in central Tokyo #203,341577,Hide&Kei,NaN,Nerima Ku,35.74267,139.65810,Entire home/apt,4196,30,107,2019-05-25,1.25
3,370759,"Cozy flat #203, local area YET 10 mins to shib...",1573631,"Gilles,Mayumi,Taiki",NaN,Setagaya Ku,35.66344,139.65593,Entire home/apt,6994,29,99,2019-05-07,1.55
4,700253,Private apt in central Tokyo #201,341577,Hide&Kei,NaN,Nerima Ku,35.74264,139.65832,Entire home/apt,3981,30,101,2019-05-03,1.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11461,36083287,1min to station · Skytree/Tatami hotel/new design,235406925,Sayoko佐代子,NaN,Sumida Ku,35.70862,139.81393,Entire home/apt,21951,1,0,NaN,NaN
11462,36083512,Asakusa Wired house 5pax near by UENO/AKIHABARA,267481408,Hyongsu,NaN,Taito Ku,35.72464,139.78078,Entire home/apt,7747,1,0,NaN,NaN
11463,36084566,东京精品民宿,161702799,Yang,NaN,Toshima Ku,35.73587,139.73397,Private room,56275,1,0,NaN,NaN
11464,36085357,#4 DIRECT ACCESS TO DISNEY IN BUS! 3MIN TO STA...,208189463,Shotaro,NaN,Edogawa Ku,35.66255,139.87236,Entire home/apt,6456,1,0,NaN,NaN
11465,36086604,103号室:立地最高!駅近･買い物便利!改装したばかりの綺麗な和室です｡,254667806,新東明,NaN,Shinjuku Ku,35.69889,139.70544,Private room,7962,2,0,NaN,NaN

In [16]:
# Descripción de características
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11466 entries, 0 to 11465
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11466 non-null  int64
 1   name                 11466 non-null  object
 2   host_id              11466 non-null  int64
 3   host_name            11450 non-null  object
 4   neighbourhood_group  0 non-null      float64
 5   neighbourhood        11466 non-null  object
 6   latitude             11466 non-null  float64
 7   longitude            11466 non-null  float64
 8   room_type            11466 non-null  object
 9   price                11466 non-null  int64
 10  minimum_nights       11466 non-null  int64
 11  number_of_reviews    11466 non-null  int64
 12  last_review          9789 non-null   object
 13  reviews_per_month    9789 non-null   float64
dtypes: float64(4), int64(5), object(5)
memory usage: 1.2+ MB

In [ ]:
# Comentario sobre el dataset:
# 1.Hay 14 columnas de características en total, cada una con 11466 datos.
# 2.Las 4 columnas con datos faltantes:
# 3   host_name            11450 non-null  object 
# 4   neighbourhood_group  0 non-null      float64
# 12  last_review          9789 non-null   object 
# 13  reviews_per_month    9789 non-null   float64

## 3. VERIFICAR CALIDAD DE LOS DATOS

In [5]:
# A) IDENTIFICAR VALORES NULOS
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11466 entries, 0 to 11465
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11466 non-null  int64
 1   name                 11466 non-null  object
 2   host_id              11466 non-null  int64
 3   host_name            11450 non-null  object
 4   neighbourhood_group  0 non-null      float64
 5   neighbourhood        11466 non-null  object
 6   latitude             11466 non-null  float64
 7   longitude            11466 non-null  float64
 8   room_type            11466 non-null  object
 9   price                11466 non-null  int64
 10  minimum_nights       11466 non-null  int64
 11  number_of_reviews    11466 non-null  int64
 12  last_review          9789 non-null   object
 13  reviews_per_month    9789 non-null   float64
dtypes: float64(4), int64(5), object(5)
memory usage: 1.2+ MB

In [6]:
# Cuantos missing values (valores vacíos) hay en el dataset por cada columna
datos.isnull().sum()

id                         0
name                       0
host_id                    0
host_name                 16
neighbourhood_group    11466
neighbourhood              0
latitude                   0
longitude                  0
room_type                  0
price                      0
minimum_nights             0
number_of_reviews          0
last_review             1677
reviews_per_month       1677
dtype: int64

In [ ]:
# Los valores vacíos por columna son: 
# host_name                 16
# neighbourhood_group    11466
# last_review             1677
# reviews_per_month       1677

In [7]:
# Identificar el promedio de los valores nulos en el df
datos.isnull().mean()

id                     0.000000
name                   0.000000
host_id                0.000000
host_name              0.001395
neighbourhood_group    1.000000
neighbourhood          0.000000
latitude               0.000000
longitude              0.000000
room_type              0.000000
price                  0.000000
minimum_nights         0.000000
number_of_reviews      0.000000
last_review            0.146259
reviews_per_month      0.146259
dtype: float64

In [8]:
# Se ordena por  % nulos
datos.isnull().mean().sort_values(ascending = False)

neighbourhood_group    1.000000
last_review            0.146259
reviews_per_month      0.146259
host_name              0.001395
id                     0.000000
name                   0.000000
host_id                0.000000
neighbourhood          0.000000
latitude               0.000000
longitude              0.000000
room_type              0.000000
price                  0.000000
minimum_nights         0.000000
number_of_reviews      0.000000
dtype: float64

In [ ]:
# Una ves identificado los porcentajes de los valores nulos, se sugiere:
# - Eliminar los campos que tienen el 100% de valores nulos (neighbourhood_group)
# - Eliminar los campos que presenten mas del 20% de valores nulos (ninguno)

In [ ]:
# B) IDENTIFICAR REGISTROS DUPLICADOS

In [9]:
# Visualizar la cantidad de registros duplicados
datos.duplicated().sum()

0

In [17]:
# Aparentemente no existe registros duplicados porque se tiene la columna ID que asigna un número 
# específico para cada registro, por lo tanto se debe eliminar.
# a. Eliminar la columna ID 
datos2=datos.drop(columns=["id"])
datos2

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month
0,"La Casa Gaienmae C Harajuku, Omotesando is nearby",151977,Miyuki,NaN,Shibuya Ku,35.67152,139.71203,Private room,4196,28,18,2018-07-28,0.20
1,Oshiage Holiday Apartment,964081,Yoshimi & Marek,NaN,Sumida Ku,35.71721,139.82596,Entire home/apt,10975,3,156,2019-05-21,1.65
2,Private apt in central Tokyo #203,341577,Hide&Kei,NaN,Nerima Ku,35.74267,139.65810,Entire home/apt,4196,30,107,2019-05-25,1.25
3,"Cozy flat #203, local area YET 10 mins to shib...",1573631,"Gilles,Mayumi,Taiki",NaN,Setagaya Ku,35.66344,139.65593,Entire home/apt,6994,29,99,2019-05-07,1.55
4,Private apt in central Tokyo #201,341577,Hide&Kei,NaN,Nerima Ku,35.74264,139.65832,Entire home/apt,3981,30,101,2019-05-03,1.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11461,1min to station · Skytree/Tatami hotel/new design,235406925,Sayoko佐代子,NaN,Sumida Ku,35.70862,139.81393,Entire home/apt,21951,1,0,NaN,NaN
11462,Asakusa Wired house 5pax near by UENO/AKIHABARA,267481408,Hyongsu,NaN,Taito Ku,35.72464,139.78078,Entire home/apt,7747,1,0,NaN,NaN
11463,东京精品民宿,161702799,Yang,NaN,Toshima Ku,35.73587,139.73397,Private room,56275,1,0,NaN,NaN
11464,#4 DIRECT ACCESS TO DISNEY IN BUS! 3MIN TO STA...,208189463,Shotaro,NaN,Edogawa Ku,35.66255,139.87236,Entire home/apt,6456,1,0,NaN,NaN
11465,103号室:立地最高!駅近･買い物便利!改装したばかりの綺麗な和室です｡,254667806,新東明,NaN,Shinjuku Ku,35.69889,139.70544,Private room,7962,2,0,NaN,NaN

In [18]:
# Visualizar la cantidad de registros duplicados
datos2.duplicated().sum()

0

In [ ]:
# Conclusión, una vez eliminado la columna ID, se verifica que no existe registros duplicados, por lo tanto
# NO corresponde eliminar registros por duplicidad.

## FASE 2: PREPARACIÓN DE LOS DATOS

## 5. SELECCIONAR LOS DATOS

In [19]:
# Examinar el dataset
datos

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month
0,35303,"La Casa Gaienmae C Harajuku, Omotesando is nearby",151977,Miyuki,NaN,Shibuya Ku,35.67152,139.71203,Private room,4196,28,18,2018-07-28,0.20
1,197677,Oshiage Holiday Apartment,964081,Yoshimi & Marek,NaN,Sumida Ku,35.71721,139.82596,Entire home/apt,10975,3,156,2019-05-21,1.65
2,289597,Private apt in central Tokyo #203,341577,Hide&Kei,NaN,Nerima Ku,35.74267,139.65810,Entire home/apt,4196,30,107,2019-05-25,1.25
3,370759,"Cozy flat #203, local area YET 10 mins to shib...",1573631,"Gilles,Mayumi,Taiki",NaN,Setagaya Ku,35.66344,139.65593,Entire home/apt,6994,29,99,2019-05-07,1.55
4,700253,Private apt in central Tokyo #201,341577,Hide&Kei,NaN,Nerima Ku,35.74264,139.65832,Entire home/apt,3981,30,101,2019-05-03,1.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11461,36083287,1min to station · Skytree/Tatami hotel/new design,235406925,Sayoko佐代子,NaN,Sumida Ku,35.70862,139.81393,Entire home/apt,21951,1,0,NaN,NaN
11462,36083512,Asakusa Wired house 5pax near by UENO/AKIHABARA,267481408,Hyongsu,NaN,Taito Ku,35.72464,139.78078,Entire home/apt,7747,1,0,NaN,NaN
11463,36084566,东京精品民宿,161702799,Yang,NaN,Toshima Ku,35.73587,139.73397,Private room,56275,1,0,NaN,NaN
11464,36085357,#4 DIRECT ACCESS TO DISNEY IN BUS! 3MIN TO STA...,208189463,Shotaro,NaN,Edogawa Ku,35.66255,139.87236,Entire home/apt,6456,1,0,NaN,NaN
11465,36086604,103号室:立地最高!駅近･買い物便利!改装したばかりの綺麗な和室です｡,254667806,新東明,NaN,Shinjuku Ku,35.69889,139.70544,Private room,7962,2,0,NaN,NaN

In [25]:
# - Se observa que la columna host_id y host_name reportan la misma información para identificar al alojamiento, por lo tanto se debe eliminar
# la columna host_id y conservar la columna host_name.
# datos3=datos2.drop(columns=["host_id"])
# datos3

In [32]:
#clasificando variables
categoricas=["id","name", "host_id", "host_name", "neighbourhood_group", "neighbourhood", "latitude", "longitude", "room_type", "last_review"]
numericas=["price", "minimum_nights", "number_of_reviews","reviews_per_month"]
categoricas

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'last_review']

In [33]:
numericas

['price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month']

In [20]:

b = pd.DataFrame(datos2['neighbourhood'].unique(),columns=['área'])
b['precio alto'] = datos2[['price','neighbourhood']].groupby('neighbourhood').max().price.tolist()
b['precio bajo'] = datos2[['price','neighbourhood']].groupby('neighbourhood').min().price.tolist()
b['precio mediano'] = datos2[['price','neighbourhood']].groupby('neighbourhood').median().price.tolist()
b['25% de precio'] = datos2[['price','neighbourhood']].groupby('neighbourhood').quantile(0.25).price.tolist()
b['75% de precio'] = datos2[['price','neighbourhood']].groupby('neighbourhood').quantile(0.75).price.tolist()
b['cuartil'] = np.array(datos2[['price','neighbourhood']].groupby('neighbourhood').quantile(0.75).price.tolist()) - np.array(datos2[['price','neighbourhood']].groupby('neighbourhood').quantile(0.25).price.tolist())
b

,área,precio alto,precio bajo,precio mediano,25% de precio,75% de precio,cuartil
0,Shibuya Ku,50035,1184,5972.0,2743.75,10007.00,7263.25
1,Sumida Ku,10007,2044,4519.0,4384.50,5488.00,1103.50
2,Nerima Ku,50035,3551,3874.0,3712.50,26954.50,23242.00
3,Setagaya Ku,99962,2044,9039.0,5810.00,14957.00,9147.00
4,Arakawa Ku,105019,4089,10007.0,5488.00,13450.00,7962.00
5,Shinjuku Ku,1000046,1506,12482.0,6509.75,21385.50,14875.75
6,Mitaka Shi,31958,3013,6994.0,5918.00,10383.50,4465.50
7,Adachi Ku,74568,2044,12051.0,5380.25,20014.00,14633.75
8,Katsushika Ku,99962,1399,8500.0,5488.00,14957.00,9469.00
9,Meguro Ku,20014,3766,12374.5,8285.50,16221.25,7935.75
10,Toshima Ku,14957,3228,3443.0,3443.00,4950.00,1507.00
11,Minato Ku,16463,3981,14957.0,4519.00,16033.00,11514.00
12,Shinagawa Ku,899977,2905,6026.0,4950.00,89955.00,85005.00
13,Suginami Ku,6671,6026,6026.0,6026.00,6348.50,322.50
14,Koto Ku,4519,3981,4250.0,4115.50,4384.50,269.00
15,Akishima Shi,16033,3228,4842.0,3981.25,8393.00,4411.75
16,Bunkyo Ku,3013,3013,3013.0,3013.00,3013.00,0.00
17,Taito Ku,20014,0,2582.0,2152.00,3443.00,1291.00
18,Itabashi Ku,33034,21951,27492.5,24721.75,30263.25,5541.50
19,Ota Ku,3551,1937,2744.0,2340.50,3147.50,807.00
20,Edogawa Ku,200031,1184,6994.0,4519.00,14957.00,10438.00
21,Machida Shi,99962,1184,9899.5,4950.00,14957.00,10007.00
22,Kita Ku,78979,1076,7962.0,4950.00,14849.00,9899.00
23,Higashimurayama Shi,5810,3120,5057.5,4923.00,5165.00,242.00
24,Nakano Ku,10007,4519,7263.0,5649.25,8876.75,3227.50
25,Hino Shi,6994,2044,4519.0,4519.00,6026.00,1507.00
26,Hachioji Shi,26039,3981,14042.0,6240.75,22004.50,15763.75
27,Koganei Shi,105019,1506,9361.0,4950.00,17969.00,13019.00
28,Kokubunji Shi,9039,9039,9039.0,9039.00,9039.00,0.00
29,Ogasawara Mura,3981,3981,3981.0,3981.00,3981.00,0.00
30,Musashino Shi,10975,1184,4304.0,3551.00,4626.75,1075.75
31,Okutama Machi,89955,2367,10652.5,7962.00,14957.00,6995.00
32,Kodaira Shi,392206,2475,12051.0,6994.00,18507.00,11513.00
33,Akiruno Shi,30021,3981,6564.0,6026.00,21520.00,15494.00
34,Chiyoda Ku,20014,10007,15010.5,12508.75,17512.25,5003.50
35,Chuo Ku,3658,2582,3551.0,3013.00,3551.00,538.00
36,Fuchu Shi,15495,3443,8715.5,5084.50,12051.00,6966.50
37,Inagi Shi,1000046,2475,10975.0,7962.00,16113.25,8151.25
38,Fussa Shi,24963,1399,5810.5,3658.50,8608.00,4949.50
39,Tama Shi,10007,10007,10007.0,10007.00,10007.00,0.00
40,Nishitokyo Shi,34325,2690,3981.0,3766.00,7424.50,3658.50
41,Komae Shi,8608,6456,6456.0,6456.00,6859.50,403.50
42,Chofu Shi,34970,7317,21951.0,14634.00,28460.50,13826.50
43,Hinohara Mura,24963,2798,3551.0,3551.00,3873.50,322.50
44,Ome Shi,20014,3766,7962.0,4519.00,10007.00,5488.00
45,Oshima Machi,129121,2582,7962.0,5622.00,12051.00,6429.00
46,Kozushima Mura,128045,3013,8931.0,6026.00,14957.00,8931.00
47,Higashiyamato Shi,749980,1076,14365.0,10007.00,20632.25,10625.25
48,Hamura Shi,99962,1506,10007.0,6994.00,19072.25,12078.25
49,Tachikawa Shi,249958,1506,12051.0,8285.00,18507.00,10222.00
50,Musashimurayama Shi,139989,1937,7532.0,4950.00,12051.00,7101.00
51,Niijima Mura,75966,0,12051.0,6940.00,17969.00,11029.00
52,Hachijo Machi,14957,6456,7962.0,6832.50,11028.75,4196.25
53,Miyake Mura,1000046,1399,10007.0,4950.00,17969.00,13019.00
54,Kunitachi Shi,8823,4412,4734.5,4573.25,5837.25,1264.00
55,Higashikurume Shi,1000046,1506,10007.0,7424.00,17001.00,9577.00

In [24]:
# Principales descriptores estadisticos
datos3.describe()

,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month
count,0.0,11466.000000,11466.000000,1.146600e+04,11466.000000,11466.000000,9789.000000
mean,NaN,35.687159,139.734537,1.498470e+04,3.316239,26.028868,2.262540
std,NaN,0.217853,0.092771,3.327345e+04,7.766766,38.455449,1.744004
min,NaN,27.072330,139.130020,0.000000e+00,1.000000,0.000000,0.040000
25%,NaN,35.679620,139.698975,6.026000e+03,1.000000,2.000000,1.000000
50%,NaN,35.701910,139.729165,1.000700e+04,1.000000,12.000000,2.060000
75%,NaN,35.724215,139.784270,1.721600e+04,2.000000,32.000000,3.170000
max,NaN,35.832430,142.202880,1.000046e+06,180.000000,453.000000,51.210000

## 6. LIMPIAR DE DATOS